[user]
        email = jan.likar@protonmail.com
        name = Jan Likar
[core]
        editor = vi
[alias]
	st = status
        co = checkout
        cob = checkout -b
        ci = commit
        br = branch
        ap = add -p
